
// standard button
.button
	display: inline-block
	background: $black
	color: $white
	border-radius: $corner
	padding: $pad $pad*2
	min-width: 160px
	text-align: center
	cursor: pointer
	border: 0
	border-radius: $pad*.25
	
	color: alpha($white, .7)
	padding-bottom: $pad*1.25
	letter-spacing: .02em
	
	font-size: 15px

// reusable components can live here...
