
// theme($background = color, $forground = $background + -dark, $select = $background + -light)
// 	background $ + $background
// 	color $ + $forground
// 	text-selection($ + $select)



theme(xxx)
	background shade(xxx, 20%)
	color tint(xxx, 40%)
	border-color: xxx
	.button
		background: rgba(0,0,0,.5)
		color: tint(xxx, 40%)
	text-selection(xxx)



blue-print(xxx)
	background tint(xxx, 80%)
	color shade(xxx, 20%)
	* //
		border: 1px solid shade(xxx, 30%)
	.image-w
		background: shade(xxx, 20%)
	.text-w
		background: tint(xxx, 90%)
	.button
		background: rgba(0,0,0,.1)
		color shade(xxx, 20%)
