/*!
Theme Name: MWDB 2016
Theme URI: http://sheriffderek.consulting
Author: @sheriffderek
Author URI: http://sheriffderek.consulting
Description: A custom theme for the MWDB
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*! set charicter set */
@charset 'UTF-8'

/*! user reset */
@import '_user-reset'

// user variables
@import '_variables'

// mixins
@import '_mixins'

/*! basic philosophy */
@import '_basic'

// break points
@import '_break-points'

/*! type */
@import '_type'

/*! icons */
@import '_icons'

/*! components */
@import '_components'

// development helpers
@import '_dev-helpers'

// grid 
// @import '_grids'

// mini-themes
@import '_mini-themes'

/*! style-guide */	
@import '_style-guide'
/* this is just an example
	i would just delete it. */


@import '_flickity'

@import '_structure'

/*! styles */
@import '_styles'
